{% extends 'core/base.html' %}

{% block title %}Lista dostawców{% endblock %}

{% block content %}

{% if not suppliers %}
    <p>Brak dostawców.</p>
    <!-- Outside the loop -->
    <a href="{% url 'add_supplier' %}" class="py-4 px-6 bg-teal-300 rounded-xl text-white">Dodaj dostawce</a>
{% else %}
    <ul>
        <div class="flex justify-between">
            <strong>Lista dostawców:</strong>
            <br><br>
        </div>
        {% for supplier in suppliers %}
            <div class="flex justify-between">
                <a href="{% url 'supplier_detail' supplier.id %}">
                    <strong>{{ supplier.short_name }}</strong>
                </a>

                <!-- Add link to supplieritem_list -->
                <a href="{% url 'supplieritem_list' pk=supplier.id %}">
                    Supplier Items
                </a>
            </div>
            <hr>
        {% endfor %}
    </ul>
{% endif %}
<a href="{% url 'add_supplier' %}" class="py-4 px-6 bg-teal-300 rounded-xl text-white">Dodaj dostawce</a>
{% endblock %}
