<!-- In your_app/templates/your_app/supplieritem_list.html -->
{% extends 'core/base.html' %}

{% block title %}Supplier Item List{% endblock %}

{% block content %}

{% if not supplier_items %}
        <p>No items available for this supplier.</p>
{% else %}
    <ul>
        <div class="flex justify-between">
            <strong>Supplier Item List:</strong>
            <br><br>
        </div>
        {% for supplier_item in supplier_items %}
            <div class="flex justify-between">
                <!-- Display SupplierItem details -->
                <p><a href="{% url 'item_detail' pk=supplier_item.item.pk %}">{{ supplier_item.item.name }}</a></p>
                <p><a href="{{ supplier_item.link }}">Link</a></p>
            </div>
    <hr>
        {% endfor %}

    </ul>
{% endif %}

<a href="{% url 'supplier_list' %}" class="py-4 px-6 bg-teal-300 rounded-xl text-white">Back to Supplier List</a>
{% endblock %}
