/* navbar.css */

.navbar-container {
    background-color: #E0E0E0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.right-side button {
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 100%; /* Make buttons fill the entire navbar height */
    color: white;
    font-weight: bold;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for color */
}

/* Positive button style */
.login-btn, .signup-btn {
    background-color: #A0A0A0;
    color: black; /* Adjust the color */
}

/* Negative button style */
.logout-btn {
    background-color: red;
}

/* Add hover effect */
.right-side button:hover {
    background-color: #2ecc71; /* Change to a lighter shade of green for positive button */
    color: white; /* Reset the color on hover */
}