{% extends 'core/crm.html' %}

{% block title %}Warehouse{% endblock %}

{% block main_content %}

<div class="container">
    <div class="row">

        </div>
        <div class="col-md-11">
            <!-- Main Content -->
            {% if not availability %}
                <p>No items available in the warehouse.</p>
            {% else %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Min Quantity</th>
                            <th>Localization</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in availability %}
                            <tr>
                                <td><strong>{{ item.item }}</strong></td>
                                <td>{{ item.qty }}</td>
                                <td>{{ item.min_qty }}</td>
                                <td>{{ item.localization }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
