{% extends 'core/base.html' %}
{% load static %}
{% block title %}About{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'core/css/about.css' %}">
<div class="columns-container">
    <div class="left-sidebar">
        <h1>TEXT in LEFT SIDE</h1>
        <h1>TEXT in LEFT SIDE</h1>
        <h1>TEXT in LEFT SIDE</h1>
        <h1>TEXT in LEFT SIDE</h1>
    </div>

    <div class="right-sidebar">
        <!-- Main Content -->
        {% if not availability %}
            <h1>TEXT in RIGHT SIDE</h1>
        {% endif %}
    </div>
</div>

{% endblock %}
