<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to your static CSS files -->
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/navbar.css' %}">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% include 'core/navbar.html' %}

    {% if messages %}
        <div>
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% include 'core/footer.html' %}
</body>
</html>
