{% load static %}

<link rel="stylesheet" href="{% static 'core/css/navbar.css' %}">

<div class="navbar-container">

    <!-- Left side links -->
    <div class="left-side">
        <a href="{% url 'dashboard' %}" class="text-white">Dashboard</a>

        <a href="{% url 'about' %}" class="text-white">About</a>

        <!-- Superuser link -->
        {% if request.user.is_superuser %}
            <a href="{% url 'crm' %}" class="text-white">CRM</a>
        {% endif %}
    </div>

    <div class="right-side">
        {% if request.user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post"  class="logout-btn">
                {% csrf_token %}
                <button type="submit">Log Out</button>
            </form>
        {% else %}
            <a style="display: inline-block;" class="login-btn" href="{% url 'login' %}">
                <button >Log in</button>
            </a>
            <a style="display: inline-block;" class="signup-btn" href="{% url 'signup' %}">
                <button >Sign up</button>
            </a>
        {% endif %}
    </div>

</div>
